@use "sass:map";
@import "style/pages/all";

.register {
  .register_title {
    text-align: center;
  }

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;

  &_container {
    background: #fff;
    width: 400px;
    min-height: 400px;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &_title {
    font-weight: 600;
    color: map.get($theme-colors, "normal-text");
    margin-bottom: 24px;
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_form_group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_label {
    font-size: 14px;
    font-weight: 500;
    color: map.get($theme-colors, "normal-text");
  }

  .register_button {
    height: 46px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background: map.get($theme-colors, "main");
    border-radius: 4px;
    cursor: pointer;
    border: none;
  }
}
